.site-menu,
.edition-post,
.site-header {
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(12);
    @include make-lg-column(12);
}

aside {
    @include make-xs-column(4);
    @include make-sm-column(4);
    @include make-md-column(4);
    @include make-lg-column(4);
}

.content {
    @include make-xs-column(8);
    @include make-sm-column(8);
    @include make-md-column(8);
    @include make-lg-column(8);
}

.edition {
    ul {
        li {
            @include make-xs-column(4);
            @include make-sm-column(4);
            @include make-md-column(4);
            @include make-lg-column(4);
        }
    }
}

.edition-post {
    .individual-cover,
    .post-content {
        @include make-xs-column(6);
        @include make-sm-column(6);
        @include make-md-column(6);
        @include make-lg-column(6);
    }
}

.edition-article {
    &-title,
    &-meta,
    &-authors,
    &-content p,
    &-content ul,
    &-content ol,
    &-content blockquote,
    &-content h1,
    &-content h2,
    &-content h3,
    &-content h4,
    &-content h5,
    &-content h6,
    &-content table,
    .download,
    .backlink {
        @include make-xs-column(8);
        @include make-sm-column(8);
        @include make-md-column(8);
        @include make-lg-column(8);
        @extend .center-block;
    }
    &-content {
        blockquote {
            p {
                @include make-xs-column(12);
                @include make-sm-column(12);
                @include make-md-column(12);
                @include make-lg-column(12);
            }
        }
    }
    &-content,
    &-content blockquote {
        p {
            img + & {
                @include make-xs-column(12);
                @include make-sm-column(12);
                @include make-md-column(12);
                @include make-lg-column(12);
            }
        }
    }
}

.backlink,
.site-page {
    li {
        @include make-xs-column(6);
        @include make-sm-column(6);
        @include make-md-column(6);
        @include make-lg-column(6);
    }
}
