//Light 300
//Normal 400
//Semi-Bold 600
//Bold 700
//Extra-Bold 800

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/open-sans-regular.eot');
    src: url('../fonts/open-sans/open-sans-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/open-sans/open-sans-regular.woff') format('woff'),
        url('../fonts/open-sans/open-sans-regular.ttf') format('truetype'),
        url('../fonts/open-sans/open-sans-regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
