--- 
layout: default
---

<div class="content">
    <section class="edition">
        <h2 class="section-title">
          <span>#Edições da Revista</span>

          <a title="Confira todas as edições da {{ site.name }}"href="#" class="all-edition">
              Veja todas as edições
          </a>
        </h2>
        <ul>
            {% for post in site.categories.editions %} {% if post.url %}
            <li>
                <a href="{{ post.url }}" title="{{ post.title }} ({{ post.year }})">
                    <figure>
                        <img src="{{site.baseurl}}/img/covers/pt-br/{{post.cover}}" alt="">
                        <figcaption>#{{post.issue}} ({{post.release}}) </figcaption>
                    </figure>
                </a>
            </li>
            {% endif %} {% endfor %}
        </ul>
    </section>
</div>