<aside>
    <div id="features">
        <h2 class="section-title">
            <span>RBTV apresenta</span>
        </h2>
        <ul class="features">
            {% for post in site.categories.article limit:7 %} {% if post.url %}
            <li>
                <a href="{{ post.url }}" title="{{ post.title }} ({{ post.year }})">
                    {{ post.title }}
                </a>
            </li>
            {% endif %} {% endfor %}
        </ul>
    </div>
    <div id="news">
        <h2 class="section-title">
            <span>Notícias</span>
        </h2>
        <ul class="news">
            {% for post in site.categories.news limit:7 %} {% if post.url %}
            <li>
                <a href="{{ post.url }}" title="{{ post.title }} ({{ post.year }})">
                    {{ post.title }}
                </a>
            </li>
            {% endif %} {% endfor %}
        </ul>
    </div>
    <ul class="social">
        <li class="section-title"><span>Nos acompanhe também</span></li>
        {% if site.facebook_username %}
        <li class="facebook"><a target="_blank" href="{{ site.facebook_username }}" title="Facebook">Facebook</a></li>{% endif %} {% if site.googleplus_username %}
        <li class="googleplus"><a target="_blank" href="{{ site.googleplus_username }}" title="Google+">Google+</a></li>{% endif %} {% if site.instagram_username %}
        <li class="instagram"><a target="_blank" href="{{ site.instagram_username }}" title="Instagram">Instagram</a></li>{% endif %} {% if site.linkedin_username %}
        <li class="linkedin"><a target="_blank" href="{{ site.linkedin_username }}" title="Linkedin">Linkedin</a></li>{% endif %} {% if site.youtube_username %}
        <li class="youtube"><a target="_blank" href="{{ site.youtube_username }}" title="Youtube">Youtube</a></li>{% endif %} {% if site.twitter_username %}
        <li class="twitter"><a target="_blank" href="{{ site.twitter_username }}" title="Twitter">Twitter</a></li>{% endif %}
        <li class="rss"><a target="_blank" href="#" title="RSS"><i></i> RSS</a></li>
    </ul>
</aside>
