<ul class="breadcrumb">
    <li>Você está em: <a href="{{ site.baseurl }}/">Página inicial</a></li>
    {% capture page_url_without_index_html %}{{ page.url | remove: "/index.html" }}{% endcapture %} {% assign splitted_url_parts = page_url_without_index_html | split: '/' %} {% capture forLoopMaxInt %}{{ splitted_url_parts.size | minus:1 }}{% endcapture
    %} {% for i in (1..forLoopMaxInt) %} {% capture current_breadcrumb_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/index.html{% endcapture %} {% capture current_breadcrumb_md_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/{% endcapture
    %} {% capture next_prepender %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %} {% for breadcrumb_page in site.pages %} {% if current_breadcrumb_url == breadcrumb_page.url or current_breadcrumb_md_url == breadcrumb_page.url %} {% assign
    j = forLoopMaxInt | plus: 0 %}
    <li {% if i==j %}class="active" {% endif %}>
        {% capture breadcrumb_page_page_url_without_index_html %}{{ breadcrumb_page.url | remove: "index.html" }}{% endcapture %}
        <a href="{{ site.baseurl }}{{breadcrumb_page_page_url_without_index_html}}">{{breadcrumb_page.breadcrumb}}</a>
    </li>
    {% endif %} {% endfor %} {% endfor %}
</ul>
