</section>
<footer class="site-footer">
    <ul class="container center-block ">
        <li>{{ site.title }} | <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        <li>&copy; Todos os direitos reservados
			<a href="#site-title" title="ir para o início da página" alt="ir para o início da página">&#xffea;</a>
        </li>
    </ul>
</footer>
</body>

</html>
