<nav class="sr-only"><a href="#site-menu">ir para o menu</a><a href="#site-content">ir para o conteúdo</a></nav>
<header class="site-header" role="header">
    <a class="site-title" id="site-title" href="{{ site.baseurl }}/" title="{{ site.name }}">
        <figure>
            <img title="{{ site.title }}" src="{{ site.baseurl }}/img/logo.png" alt="Revista Brasileira de Tradução Visual. Em um fundo branco, a mão direita faz a letra t em libras. O indicador e o polegar se cruzam, os demais dedos ficam erguidos. Próximo ao indicador há, em verde, 3 ondas sonoras. Abaixo da mão, lê-se RBTV, com letras verdes e com letras Braille em preto.">
        </figure>
    </a>
</header>
{% include menu.html %}
<section class="main" id="site-content" role="main">
