<nav id="site-menu" class="site-menu" role="navigation">
    <ul>
        <li><a accesskey="1" title="Página inicial" href="{{ site.baseurl }}/">Página inicial</a></li>
        <li><a accesskey="2" title="Confira todas as edições da nossa revista" href="{{ site.baseurl }}/edicoes">Edições</a></li>
        <li><a accesskey="3" title="Quer publicar um texto na nossa revista? Clique	 aqui para saber como você deve proceder" href="{{ site.baseurl }}/submissao">Submissão</a></li>
        <li><a accesskey="4" title="Notícias interessantes que nossa equipe separou para você" href="{{ site.baseurl }}/noticias">Notícias</a></li>
        <li><a accesskey="5" title="Confira nosso canal" href="{{ site.baseurl }}/videos">Vídeos</a></li>
        <li><a accesskey="6" title="Conheça o projeto da revista, a nossa história e nossa equipe" href="{{ site.baseurl }}/sobre">Sobre</a></li>
        <li><a accesskey="7" title="Para enviar elogios, sugestões, críticas, duvidas ou apenas trocar uma ideia conosco" href="{{ site.baseurl }}/contato">Contato</a></li>
    </ul>
</nav>
