<meta charset="utf-8" />
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'> {% if page.excerpt %}
<meta name="description" content="{{ page.excerpt| strip_html }}" />
<meta property="og:description" content="{{ page.excerpt| strip_html }}" /> {% else %}
<meta name="description" content="{{ site.description }}">
<meta property="og:description" content="{{ site.description }}" /> {% endif %}
<meta name="author" content="{{ site.name }}" /> {% if page.title %}
<meta property="og:title" content="{{ page.title }}" />
<meta property="twitter:title" content="{{ page.title }}" /> {% endif %}
<link rel="icon" type="image/png" href="{{ site.baseurl }}/{{ site.img_folder }}/icons/android-chrome-144x144.png" sizes="144x144">
<link rel="icon" type="image/png" href="{{ site.baseurl }}/{{ site.img_folder }}/icons/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="{{ site.baseurl }}/{{ site.img_folder }}/icons/android-chrome-36x36.png" sizes="36x36">
<link rel="icon" type="image/png" href="{{ site.baseurl }}/{{ site.img_folder }}/icons/android-chrome-48x48.png" sizes="48x48">
<link rel="icon" type="image/png" href="{{ site.baseurl }}/{{ site.img_folder }}/icons/android-chrome-72x72.png" sizes="72x72">
<link rel="icon" type="image/png" href="{{ site.baseurl }}/{{ site.img_folder }}/icons/android-chrome-96x96.png" sizes="96x96">
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ site.baseurl }}/{{ site.img_folder }}/icons/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/{{ site.img_folder }}/icons/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/{{ site.img_folder }}/icons/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/{{ site.img_folder }}/icons/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ site.baseurl }}/{{ site.img_folder }}/icons/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.baseurl }}/{{ site.img_folder }}/icons/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ site.baseurl }}/{{ site.img_folder }}/icons/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.baseurl }}/{{ site.img_folder }}/icons/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="{{ site.baseurl }}/{{ site.img_folder }}/icons/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="{{ site.baseurl }}/{{ site.img_folder }}/icons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="{{ site.baseurl }}/{{ site.img_folder }}/icons/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ site.baseurl }}/{{ site.img_folder }}/icons/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="{{ site.baseurl }}/{{ site.img_folder }}/icons/favicon-128.png" sizes="128x128" />
<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/{{ site.img_folder }}/icons/favicon.ico">
<meta name="application-name" content="Revista Žena" />
<meta name="msapplication-TileColor" content="#800080" />
<meta name="msapplication-TileImage" content="{{ site.baseurl }}/{{ site.img_folder }}/icons/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="{{ site.baseurl }}/{{ site.img_folder }}/icons/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="{{ site.baseurl }}/{{ site.img_folder }}/icons/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="{{ site.baseurl }}/{{ site.img_folder }}/icons/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="{{ site.baseurl }}/{{ site.img_folder }}/icons/mstile-310x310.png" />
<meta name="msapplication-notification" content="frequency=30;polling-uri=http://notifications.buildmypinnedsite.com/?feed=&amp;id=1;polling-uri2=http://notifications.buildmypinnedsite.com/?feed=&amp;id=2;polling-uri3=http://notifications.buildmypinnedsite.com/?feed=&amp;id=3;polling-uri4=http://notifications.buildmypinnedsite.com/?feed=&amp;id=4;polling-uri5=http://notifications.buildmypinnedsite.com/?feed=&amp;id=5;cycle=1" />
<link rel="manifest" href="{{ site.baseurl }}/{{ site.img_folder }}/icons/manifest.json">
