//COLORS
$base-color: #6FBC42;
$border: #000;

// TYPOGRAPHY
$font-size: 16px;
$baseline: 1.5;
$font-family-regular: "Open Sans";
// SIZES
$units: 16;



@charset "utf-8";
// Our variables
$base-font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
$base-font-weight: 400;
$small-font-size: $font-size * 0.875;
$spacing-unit: 30px;
$text-color: #111;
$background-color: #fdfdfd;
$brand-color: #2a7ae2;
$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);
// Width of the content area
$content-width: 800px;
$on-palm: 600px;
$on-laptop: 800px;
