aside {
    border-left: 1px dotted lighten($border, 90%);
    .description {
        margin-bottom: em(20);
        color: #000;
        background: #fff url("../img/icone.jpg") top left no-repeat;
        background-size: 30%;
        padding-left: 90px;
        font-size: em(12);
    }
    #news {
        margin: 50px 0;
        border: 1px solid $base-color;
        padding: 15px 0;
        border-width: 1px 0;
    }
    #news,
    #features {
        .news,
        .features {
            li {
                margin-bottom: em($units);
                position: relative;
                padding-bottom: 4px;
                border-bottom: 1px solid #ddd;
                a {
                    color: #878787;
                    display: block;
                    &:hover,
                    &:focus {
                        font-weight: 700;
                        text-decoration: none;
                    }
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}
