 .main {
    @extend .container;
    @extend .center-block;
    @extend .clearfix;
    margin: em(48) auto;
}

img {
    max-width: 100%;
    @extend .img-responsive;
    & + span {
        font-style: italic;
        text-align: center;
        display: block;
        padding-top: 1em;
        font-size: 0.8em;
    }
}

.edition-article {
    &-content {
        font-size: em(16);
        line-height: 1.5;
        ul,
        ol {
            padding-left: em(40) !important;
            li {
                margin-bottom: em(16);
            }
        }
        ul li {
            list-style: square;
        }
        ol li {
            list-style: decimal;
        }
    }
    .edition-article-authors {}
    img + span {
        padding-top: 0;
    }
    &-content blockquote {
        padding: 0;
        border: none;
        p {
            width: 100%;
            margin: 0 0 0 32px;
            border-left: 2px solid #ddd;
            text-align: left;
            padding: 0 0 15px 32px;
            font-size: 80%;
            font-style: italic;
            color: #000;
            font-weight: 300;
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
    table {
        @extend .table;
        @extend .table-hover;
        @extend .table-striped;
        @extend .table-condensed;
        @extend .table-bordered;
        @extend .table-responsive;
        padding: 0 !important;
        border: none !important;
        border-top: 1px solid #ddd!important;
        thead {
            tr {
                th {
                    padding-top: em(16);
                    padding-bottom: em(16);
                    border-bottom-width: 1px;
                }
            }
        }
    }
}

.download {
    padding: em(16) 0;
    margin: em(32) 0;
    border: 1px solid #ddd;
    border-width: 1px 0;
}

.backlink {
    @extend .clearfix;
    li {
        padding-left: 0;
        padding-right: 0;
        &:nth-child(2n) {
            text-align: right
        }
    }
}

.content-news {
    img {
        margin-left: auto;
        margin-right: auto;
    }
}

.site-page {
    ul {
        @extend .clearfix;
        margin: 0 auto;
        padding-left: 15px !important;
        padding-right: 15px !important;
        margin-bottom: em(16);
        li {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }
}
 