.site-footer {
    background: #aba;
    font-size: em(14);
    padding: em(32);
    &,
    & a {
        color: #333;
    }
    li {
    	width: 50%;
    	float: left;

    	&:last-child{
    		text-align: right;
    	}
    }
}
