body {
    font-size: $font-size;
    line-height: $baseline;
    font-family: $font-family-regular;
}

a {
    color: darken($base-color, 15);
    &:hover,
    &:hover,
    &:focus {
        text-decoration: none;
        color: darken($base-color, 35);
    }
}

ul,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

ul,
p {
    margin-bottom: em(16);
}
