.site-header {
    background: $base-color;
    .site-title {
        @extend .container;
        @extend .center-block;
        padding: 0;
        figure {
            padding: em(48) 0;
            margin: 0;
            & img {
                width: 100%;
            }
        }
    }
}
