.breadcrumb {
    @extend .breadcrumb;
    @extend .container;
    background: none;
    margin: 0;
    padding: 0 0 em(($units * 3)) 0;
    a {
        color: lighten($border, 15%);
    }
    ol {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            display: inline-block;
            padding: 0;
            @extend .pull-left;
            &.indicador {
                opacity: 0.8;
            }
            &.indicador:after,
            &.pagina-atual:after {
                content: " ";
                padding-right: em(16);
            }
            &+li:after {
                padding: 0 em(16);
                color: #ccc;
                content: "/\00a0";
            }
            a {
                font-weight: bold;
            }
        }
    }
}
