.edition {
    ul {
        @extend .list-inline;
        li {
            margin-bottom: em(15);
            height: em(450);
            a {
                color: $base-color;
            }
            figure {
                padding: 0;
                img {
                    max-width: 100%
                }
                figcaption {
                    font-size: em(22);
                    font-weight: 600;
                    font-style: italic;
                    text-align: center;
                    padding: em($units) 0;
                }
            }
        }
    }
}

.edition-post {
    padding: 0;
    .individual-cover,
    .post-content {
        padding-left: 0;
    }
    .individual-cover {
        img {
            width: 100%;
            height: auto;
        }
    }
    .audio-description {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        font-style: italic;
        margin: em(32) 0;
        padding: em(30) 0;
        h3 {
            margin: 0 0 em(16) 0;
            font-style: normal;
            font-size: em(18);
            font-weight: 700;
            color: #000;
        }
        p {
            margin: 0;
            span {
                font-style: normal;
                display: block;
                text-align: right;
                margin-top: 15px;
                font-size: em(14);
            }
        }
    }
    .post-content {
        ul {
            li {
                border-bottom: 1px dotted #ddd;
                a {
                    padding: em(8);
                    @include square(100%);
                    display: block;
                    &:hover {}
                }
            }
        }
    }
    .section-title {
        margin-bottom: em(16);
    }
}
