.site-menu {
    border-bottom: 1px solid lighten($border, 90%);
    font-size: em(20);
    ul {
        @extend .container;
        @extend .center-block;
        margin-bottom: 0;
        li {
            width: 1%;
            display: table-cell;
            margin: em($units) 0;
            text-align: center;
            position: relative;
            a {
                color: $base-color;
                padding: em(16) 0;
                text-transform: uppercase;
                display: inline-block;
                &:hover {
                    text-decoration: none;
                    color: darken($base-color, 100%);
                }
            }
            &:hover {
                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    background-color: darken($base-color, 100%);
                    @include size(100%, em(2));
                    left: 0;
                }
            }
        }
    }
}
