.social {
    li {
        a {
            padding: em(16);
            @include square(100%);
            display: block;
            color: #878787;
            &:hover{
            	text-decoration: none;
            	color: #fff;
            }
        }
        &:hover {
            background-repeat: no-repeat;
            background-position: 90% center;
            &.facebook {
                background-color: #3b5998;
                background-image: url('../img/social/facebook.svg');
            }
            &.googleplus {
                background-color: #dd4b39;
                background-image: url('../img/social/googleplus.svg');
            }
            &.instagram {
                background-color: #000;
                background-image: url('../img/social/instagram.svg');
            }
            &.linkedin {
                background-color: #007bb6;
                background-image: url('../img/social/linkedin.svg');
            }
            &.youtube {
                background-color: #bb0000;
                background-image: url('../img/social/youtube.svg');
            }
            &.twitter {
                background-color: #00aced;
                background-image: url('../img/social/twitter.svg');
            }
            &.rss {
                background-color: #cc5d15;
                background-image: url('../img/social/rss.svg');
            }
        }
    }
}
