.section-title {
    display: table;
    width: 100%;
    margin: 0 0 em(($units * 2)) 0;
    border-bottom: 1px solid lighten($border, 90%);
    padding: 0 0 em($units) 0;
    span {
        font-size: em(20);
        font-weight: 800;
        text-transform: uppercase;
        color: $base-color;
    }
    a {
        font-size: em(($font-size - 2));
        color: #888888;
        text-transform: lowercase;
        font-weight: 400;
        display: table-cell;
        vertical-align: middle;
        //text-align: right;
    }
}

aside {
    .section-title {
        border-bottom: none;
        margin-bottom: em($units);
        padding-bottom: 0;
        span {
            font-size: em(14);
            font-weight: 800;
            text-transform: uppercase;
            color: $base-color;
        }
    }
}

.edition-article {
    &-title {
        font-size: em(60);
        color: darken($base-color, 30%);
    }
    &-title,
    &-content h1,
    &-content h2,
    &-content h3,
    &-content h4,
    &-content h5,
    &-content h6 {
        font-family: Times, 'Times New Roman', 'Times-Roman', Georgia, Serif;
        padding-bottom: em(6);
        line-height: 1;
        letter-spacing: em(-0.5);
        font-weight: 700;
    }
    &-content h1 {
        font-size: em(45);
        color: darken($base-color, 25%);
    }
    &-content h2 {
        font-size: em(35);
        color: darken($base-color, 20%);
    }
    &-content h3 {
        font-size: em(25);
        color: darken($base-color, 15%);
    }
    &-content h4 {
        font-size: em(20);
        color: darken($base-color, 10%);
    }
    &-content h5 {
        font-size: em(15);
        color: darken($base-color, 5%);
    }
    &-content h6 {
        font-size: em(10);
        color: darken($base-color, 5%);
    }
}
.post-title{
    margin-top: 0; 
    margin-bottom: em(16);
}