---
layout: edition
---

{% include head.html %}
<article class="edition-article" itemscope itemtype="http://schema.org/BlogPosting">
    <h1 class="edition-article-title">
        {{ page.title }}
    </h1>
    <p class="edition-article-meta">
        Este artigo faz parte da edição
        <a href="{{site.baseurl}}/edition/{{page.issue}}"><strong>#{{page.issue}} da {{site.title}}</strong></a> lançada em {{page.release}}.
    </p>
    <p itemprop="author" class="edition-article-authors" itemscope itemtype="http://schema.org/Person">
        Por {% assign authorCount = page.authors | size %}{% if authorCount == 0 %} {{site.name}}{% elsif authorCount == 1 %}{{ page.authors | first }}{% else %}{% for author in page.authors %}{% if forloop.first %}<strong>{{ author }}</strong>{% elsif forloop.last %} <span>e</span> <strong>{{ author }}</strong>{% else %}<span>, </span><strong>{{ author }}</strong>{% endif %}{% endfor %}{% endif %}
    </p>
    <div class="edition-article-content" itemprop="articleBody">
        {{content}}
        <div class="download">
            Opções de download: <a href="#"><strong>apenas esse artigo</strong></a> | <a href="#"><strong>baixar toda a edição</strong></a>
            <br>
            <em>Você irá fazer o download de arquivos nos formatos PDF e DOC.</em>
        </div>
    </div>
    <ul class="backlink">
        <li><a href="#">Retornar para o sumário</a></li>
        <li><a href="#">Ver todas as edições publicadas</a></li>
    </ul>
</article>
{% include footer.html %}
