---
layout: editions
---


{% include head.html %}
<article class="edition-post" itemscope itemtype="http://schema.org/BlogPosting">
    <h1 class="post-title">{{ page.title }}</h1>
    <figure class="individual-cover">
        <img src="{{site.baseurl}}/img/covers/pt-br/{{page.cover}}" alt="A áudio-descrição não está presente na imagem para trazer para os usuários videntes a oportunidade de ler">
        <figcaption>
            <div class="audio-description">
                <h3>
                Áudio-descrição da capa da edição #{{page.issue}} ({{page.release}})
            </h3>
                <p>
                    {{page.cover-audio-description}}
                    <span>
                    &mdash; {{page.cover-audio-description-author}}
                </span>
                </p>
            </div>

            <a href="{{site.baseurl}}/edition" class="back-edition">
                &#x276e; Ver todas as edições publicadas.
            </a>
        </figcaption>
    </figure>
    <div class="post-content" itemprop="articleBody">

    <h3 class="section-title">
        <span>Sumário</span>
    </h3>
        {{content}}</div>
</article>
{% include footer.html %}
