---
layout: page
---

{% include head.html %}
<article class="site-page edition-article" itemscope itemtype="http://schema.org/BlogPosting">
    <h1 class="edition-article-title">
    	{{ page.title }}
    </h1>
    <div class="edition-article-content" itemprop="articleBody">
        {{content}}
        
    </div>
</article>
{% include footer.html %}
