---
layout: post
---

{% include head.html %}
<article class="content content-news post" itemscope itemtype="http://schema.org/BlogPosting">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.author %}
        <p> 
            <em>{{ page.except}}</em>
        </p>
    {% endif %}
    <p class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {% include date.html %}
        </time>
        <br>
        {% if page.author %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
				<span itemprop="name">
					{% if page.urlsource %}
						Fonte: <a href="{{ page.urlsource }}">
					{% endif %}
					{{ page.author }}
					{% if page.urlsource %}
						</a>
					{% endif %}
                    {% if page.extrainfo %}
                        {{ page.extrainfo }}
                    {% endif %}
				</span>
        </span>
        {% endif %}
    </p>
    <div class="post-content" itemprop="articleBody">{{content}}</div>
</article>
{% include aside.html %} {% include footer.html %}
